In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime, date
from dateutil.relativedelta import relativedelta

In [2]:
nifty50_data = pd.read_csv('data/ind_nifty50list.csv')
tickers = nifty50_data["Symbol"]

In [3]:
result = pd.DataFrame()
curr_date = datetime.today().strftime('%Y-%m-%d')
ten_years_ago = str(date.today() - relativedelta(years=10))
for ticker in tickers:
    data = yf.download(f"{ticker}.NS", start=ten_years_ago, end=curr_date)
    columns = [col[0] for col in data.columns]
    data.columns = columns
    data['Symbol'] = ticker
    result = pd.concat([result, data])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
result.to_csv("data/nifty50_result_3.csv")

In [5]:
result.head()

,Adj Close,Close,High,Low,Open,Volume,Symbol
Date,,,,,,,
2014-11-07 00:00:00+00:00,68.523972,72.866959,73.962875,71.755714,73.526047,5065827,ADANIENT
2014-11-10 00:00:00+00:00,67.543831,71.824692,73.510719,71.349541,72.882294,4696974,ADANIENT
2014-11-11 00:00:00+00:00,69.972572,74.407379,74.629623,71.893669,72.039276,9589629,ADANIENT
2014-11-12 00:00:00+00:00,69.028458,73.403427,75.235062,72.123581,74.644951,24243383,ADANIENT
2014-11-13 00:00:00+00:00,69.388809,73.786613,74.683273,72.797989,73.771286,8612471,ADANIENT

In [6]:
result.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121936 entries, 2014-11-07 00:00:00+00:00 to 2024-11-05 00:00:00+00:00
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Adj Close  121936 non-null  float64
 1   Close      121936 non-null  float64
 2   High       121936 non-null  float64
 3   Low        121936 non-null  float64
 4   Open       121936 non-null  float64
 5   Volume     121936 non-null  int64
 6   Symbol     121936 non-null  object
dtypes: float64(5), int64(1), object(1)
memory usage: 7.4+ MB